@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 43% 95%;
    --foreground: 20 14% 4%;
    --card: 43 43% 98%;
    --card-foreground: 20 14% 4%;
    --popover: 43 43% 98%;
    --popover-foreground: 20 14% 4%;
    --primary: 120 30% 30%;
    --primary-foreground: 60 9% 98%;
    --secondary: 43 20% 90%;
    --secondary-foreground: 120 25% 15%;
    --muted: 43 20% 90%;
    --muted-foreground: 43 10% 40%;
    --accent: 120 25% 85%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 20% 85%;
    --input: 43 20% 90%;
    --ring: 45 65% 52%;
    --radius: 0.5rem;
    --chart-1: 120 30% 30%;
    --chart-2: 45 65% 52%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
 
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 20 14% 6%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 120 25% 70%;
    --primary-foreground: 120 25% 15%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 60 9% 98%;
    --muted: 20 14% 10%;
    --muted-foreground: 60 9% 80%;
    --accent: 20 14% 15%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 45 65% 52%;
    --chart-1: 120 25% 70%;
    --chart-2: 45 65% 52%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
